#div1{
    text-align: center;
    margin-top: 5px;
}

#incodiv{
    width: 110px;
    height: 30px;
}

button{
    margin: 0.5%;
}

.btn{
    font-weight: bold;
    font-size: large;
    color: grey;
    background-color: #95D8EB;

    border: 5px solid ;
    padding: 1%;
    border-radius: 5px;

    /*transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;*/

    transition: all 0.3s;
}
.btn:hover{
    transform: translateY(4px);
    background-color: grey;
    color: white;
    
    border: 5px solid ;
    border-color: grey;
}

.incognito{
    background-color: white;
    border: 0px;
    position: relative;
    top: 9px;
    left: 47px;
}

#hackerimg{
    position: relative;
    margin: 5px;
    transition: all 0.3s;
    width: 100px
}
#hackerimg:hover{
    transform: translateY(50px);
}
