.btn{
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: rgb(211, 66, 115);
    background-color: #FFE6EE;
    border-color: rgb(211, 66, 115);

    border: 5px solid ;
    padding: 1%;
    border-radius: 2.5px;

    /*transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;*/

    transition: all 0.3s;

}

.btn:hover{
    
    transform: translateY(4px);
    background-color: rgb(211, 66, 115);
    color: white;
    border: 5px solid ;
    border-color: rgb(211, 66, 115);
}


